<div class="container">

  <div class="header">
    <h1>Course Information</h1>
    <mat-form-field>
      <input [(ngModel)]="course.course_title" matInput placeholder="Course Title">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="course.max_enroll_student" matInput placeholder="Max enroll students" type="number">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="course.max_learning_day" matInput placeholder="Training day" type="number">
    </mat-form-field>
    <mat-form-field>
      <mat-select [(value)]="course.category_id">
        <div *ngFor="let item of categories">
          <mat-option value="{{item.category_id}}">
            {{item.category_title}}
          </mat-option>
        </div>
      </mat-select>
    </mat-form-field>
    <div>
      <label for="image-file">Thumbnail</label>
      <br>
      <input [uploader]="uploader" accept="image/*" id="image-file" mat-input ng2FileSelect type="file">
      <!-- <button (click)="uploader.uploadAll()" color="primary" mat-button>Upload picture</button> -->
    </div>
    <div class="header-information">
      <ckeditor [editor]="Editor" [(ngModel)]="course.information"></ckeditor>
    </div>
  </div>

  <div style="margin: 10px 0px">
    <div *ngIf="this.checkId() == true; else elseBlock">
      <button mat-raised-button (click)="updateCourse()" color="accent">Save Changes</button>
    </div>
    <ng-template #elseBlock>
      <button (click)="createCourse()" color="accent" mat-raised-button>Create Course</button>
    </ng-template>
  </div>

  <div class="content">
    <h1>Course Module</h1>
    <div style="margin: 10px 0px">
      <button (click)="addNewModule()" color="primary" mat-raised-button>Add new module</button>
    </div>
    <div class="panel-container" *ngFor="let item of moduleContent;index as i">
      <mat-accordion style="width: 100%">
        <mat-expansion-panel hideToggle class="panel">
          <mat-expansion-panel-header>
            <mat-panel-title class="module-text" *ngIf="!moduleContent[i].course_title">
              Module {{getIndex(i)}}
            </mat-panel-title>
            <mat-panel-title class="module-text" *ngIf="moduleContent[i].course_title">
              {{moduleContent[i].course_title}}
            </mat-panel-title>
            <mat-panel-description class="module-text" [innerHTML]="moduleContent[i].course_content">
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field>
            <input matInput placeholder="Module Title" [(ngModel)]="moduleContent[i].course_title">
          </mat-form-field>
          <div>
            <ckeditor [editor]="Editor" [(ngModel)]="moduleContent[i].course_content"></ckeditor>
          </div>

        </mat-expansion-panel>
      </mat-accordion>
      <button (click)="removeModule(i)" class="button" mat-button color="warn">
        <mat-icon>remove_circle</mat-icon>
      </button>
    </div>
  </div>

  <div style="margin: 10px 0x">
    <div *ngIf="this.checkId() == true; else elseBlock">
      <button mat-raised-button (click)="updateCourse()" color="accent">Save Changes</button>
    </div>
    <ng-template #elseBlock>
      <button (click)="createCourse()" color="accent" mat-raised-button>Create Course</button>
    </ng-template>
  </div>

</div>
