<mat-card class="container">

  <div class="course-detail-container">
    <div class="course-detail-image">
      <img alt="Course Image" height="150" src="/assets/test_image.jpg" width="250">
    </div>

    <div class="course-detail-data">
      <div>
        <h1>Course Title</h1>
      </div>
      <div>
        Course Maker
      </div>
      <div>
        <ngx-stars [color]="'#ffbb00'" [initialStars]="2.5" [readonly]="true" [size]="1"></ngx-stars>
      </div>
    </div>
  </div>

  <div>
    <mat-tab-group>
      <mat-tab label="Information">
        Information
      </mat-tab>
      <mat-tab label="Module">
        <div *ngIf="course">
          <mat-list>
            <a *ngFor="let m of course.module" href="{{m.id}}" mat-list-item> {{ m.title }} </a>
          </mat-list>
        </div>
        <div *ngIf="!course">
          <h1>No Module Here</h1>
        </div>
      </mat-tab>
      <mat-tab label="Assignment">
        <div *ngIf="assignment">
          <mat-card *ngFor="let a of assignment" class="assignment-card">
            <div>
              {{a.title}}
            </div>
            <div>
              <button color="primary" mat-button>Download Case</button>
              <button color="primary" mat-button>Upload Answer</button>
            </div>
          </mat-card>
        </div>
        <div *ngIf="!assignment">
          <h1>No Assignment Here</h1>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

</mat-card>
