<mat-card class="container">

  <div class="course-detail-container">
    <div class="course-detail-image">
      <img alt="Course Image" height="150" src="/assets/test_image.jpg" width="250">
    </div>

    <div class="course-detail-data">
      <div>
        <h1>{{course.course_title}}</h1>
      </div>
      <div>
        {{course.teacher.user_name}}
      </div>
      <div>
        <ngx-stars [color]="'#ffbb00'" [readonly]="true" [size]="1" initialStars="{{course.rating}}"></ngx-stars>
      </div>
    </div>
  </div>

  <div>
    <mat-tab-group>
      <mat-tab label="Information">
        {{course.information}}
      </mat-tab>
      <mat-tab label="Module">
        <div *ngIf="course">
          <mat-list>
            <a *ngFor="let m of courses.module" href="{{m.id}}" mat-list-item> {{ m.title }} </a>
          </mat-list>
        </div>
        <div *ngIf="!course">
          <h1>No Module Here</h1>
        </div>
      </mat-tab>
      <mat-tab label="Assignment">
        <div *ngIf="assignment">
          <mat-card *ngFor="let a of assignment" class="assignment-card">
            <div>
              {{a.title}}
            </div>
            <div>
              <button color="primary" mat-button>Download Case</button>
              <button (click)="doUpload(a.title)" color="primary" mat-button>Choose File</button>
              <button (click)="uploader.uploadAll()" color="primary" mat-button>Upload</button>
              <input [uploader]="uploader" accept=".zip, application/pdf" hidden id={{a.title}} ng2FileSelect
                     type="file">
            </div>
          </mat-card>
        </div>
        <div *ngIf="!assignment">
          <h1>No Assignment Here</h1>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

</mat-card>
