.container
  max-width: 90%
  min-width: 60%
  margin: 2% auto

.forum-card
  margin: 15px

.text-link
  text-decoration: none
  color: black

.text-link:visited
  text-decoration: none
  color: black
