<div class="container">
  <mat-card *ngFor="let f of forums" class="forum-card" (click)="goToDetail(f.forum_id)">
    <mat-card-title><a class="text-link" href="#">{{f.forum_title}}</a></mat-card-title>
    <mat-card-subtitle>{{f.userforum.user_name}}</mat-card-subtitle>
  </mat-card>
  <div class="add-new-forum" *ngIf="loggedIn">
    <button color="primary" mat-raised-button onclick="modal.style.display='flex'">Add new forum</button>
  </div>
</div>

<div id="modal">
  <div class="modal-container">
    <div>
      <h1>Add new Forum</h1>
    </div>
    <div>
      <mat-form-field>
        <input [(ngModel)]="forum.forum_title" matInput placeholder="Forum Title">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-select [(ngModel)]="selectedCourse" name="item" placeholder="Select course">
          <mat-option *ngFor="let course of courses" [value]="course">
            {{course.course_id}} - {{course.course_title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <textarea [(ngModel)]="forum.forum_content" cols="30" id="" matInput placeholder="Forum Content"
                  rows="10"></textarea>
      </mat-form-field>
    </div>
    <div class="button-modal">
      <button (click)="postForum()" color="primary" mat-raised-button>Post</button>
    </div>
  </div>

</div>
