<div class="container">
  <mat-card *ngFor="let f of forums" class="forum-card">
    <mat-card-title><a class="text-link" href="#">{{f.forum_title}}</a></mat-card-title>
    <mat-card-subtitle>{{f.userforum.user_name}}</mat-card-subtitle>
  </mat-card>
  <div class="add-new-forum">
    <button mat-raised-button color="primary" onclick="modal.style.display='flex'">Add new forum</button>
  </div>
</div>


<div id="modal">
  <div class="modal-container">
    <div>
      <mat-form-field>
        <input matInput placeholder="Forum Title" [(ngModel)]="forum.forum_title">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field >
        <mat-select placeholder="Select course"  name="item" [(ngModel)]="selectedCourse">
          <mat-option *ngFor="let course of courses" [value]="course">
              {{course.course_id}} - {{course.course_title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <textarea [(ngModel)]="forum.forum_content" matInput placeholder="Forum Content" id="" cols="30" rows="10"></textarea>
      </mat-form-field>
    </div>
    <div class="button-modal">
      <button mat-raised-button color="primary" (click)="postForum()">Post</button> 
    </div>

  </div>
  
</div>