<div class="container">
  <mat-card *ngFor="let course of courses" class="course">
    <div class="course-image">
      <img alt="" src="../../../assets/test_image.jpg">
    </div>
    <div class="course-content">
      <div class="course-title">
        {{course.course_title}}
      </div>
      <div class="course-information">
        {{course.information}}
      </div>
    </div>
    <div class="course-button">

      <button (click)="goToCourseDetail(course.course_id)" color="primary" mat-raised-button>Go to the course page
      </button>
    </div>
  </mat-card>

  <div class="paginator">
    <!-- <div *ngFor="let item of [1,2,3,4,5]"> -->
    <!-- <button mat-raised-button color="primary">{{item}}</button> -->
    <!-- </div> -->
  </div>

</div>
