<div class="container">
    <form [formGroup]="updateForm" action="">
        <h1>Profile</h1>
        <div  id="profile-image">
            <img src="../../../assets/test_image.jpg" alt="">
        </div>
        <mat-form-field class="form-input">
            <input formControlName="name" matInput placeholder="Name" value="">
        </mat-form-field>
        <mat-form-field class="form-input">
            <input formControlName="email" matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field class="form-input">
            <input formControlName="password" matInput placeholder="Password" type="password">
        </mat-form-field>
        <mat-form-field>
            <mat-select class="form-input" formControlName="gender" placeholder="Gender">
                <mat-option value="Male">
                    Male
                </mat-option>
                <mat-option value="Female">
                    Female
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div>
            <label for="image-file">Image file</label>
            <br>
            <input ng2FileSelect type="file" accept="image/*" [uploader]="uploader">

            <button mat-button (click)="uploader.uploadAll()">Upload picture</button>
        </div>
        <button (click)="test()" mat-button color="primary">Save</button>
    </form>

</div>