<div class="profile">
  <div>
    <div class="circular-image">
      <img src="../../../assets/img/lighting.jpg">
    </div>
  </div>
  <div class="profile-detail">
    <strong>[User Name]</strong>
    <mat-expansion-panel class="toggle" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <progress-bar [disable-percentage]="true" [progress]="80" style="width:100%"></progress-bar>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
  </div>
</div>
