<div class="profile">
  <div>
    <div class="circular-image">
      <img alt="User Profile Image" src="{{user.user_image}}" width="300" height="300">
    </div>
  </div>
  <div class="profile-detail">
    <strong>{{user.user_name}}</strong>
    <mat-expansion-panel class="toggle" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <progress-bar [disable-percentage]="true"
                        [color-degraded]="{'0': '#00cbcb',  '35': '#f9c3d3', '80': '#fd8c8e'}" [progress]="progress"
                        style="width:100%;max-width: 100%"></progress-bar>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <div *ngFor="let course of courses">
          <label> {{course.course_title}}</label>
          <progress-bar [disable-percentage]="true" [progress]="40" style="width:100%"></progress-bar>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
</div>
