<div class="container">
    <form action=""  [formGroup]="loginForm">
        <h1>Login Form</h1>
        <mat-form-field class="form-input">
            <input matInput placeholder="Email"  formControlName="email">
        </mat-form-field>
        <mat-form-field class="form-input">
            <input matInput placeholder="Password" type="password"  formControlName="password">
        </mat-form-field>
        <button mat-button>Login</button>
    </form>
    <!-- <app-upload-file-btn></app-upload-file-btn> -->

<!--     Example for  upload file
    <input ng2FileSelect type="file"
     value="hehe" accept=".zip, application/pdf"
      [uploader]="uploader" >
      
    <button mat-button 
    (click)="uploader.uploadAll()">upload</button> -->
</div>
