<div class="container">
    <form action="">
        <mat-form-field class="form-input">
            <input matInput placeholder="name">
        </mat-form-field>
        <mat-form-field class="form-input">
            <input matInput placeholder="email">
        </mat-form-field>
        <mat-form-field class="form-input">
            <input matInput placeholder="password" type="password">
        </mat-form-field>
        <mat-select placeholder="Gender" class="form-input">
            <mat-option value="Male">
                Male
            </mat-option>
            <mat-option value="Female">
                Female
            </mat-option>
        </mat-select>
        <mat-select placeholder="Role" class="form-input">
            <mat-option value="Student">
                Student
            </mat-option>
            <mat-option value="Lecturer">
                Lecturer
            </mat-option>
        </mat-select>
    </form>


</div>