<div class="container">
  <form [formGroup]="loginForm" action="">
    <h1>Login Form</h1>
    <mat-form-field class="form-input">
      <input formControlName="email" matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field class="form-input">
      <input formControlName="password" matInput placeholder="Password" type="password">
    </mat-form-field>
    <button mat-button (click)="login()">Login</button>
  </form>
  <!-- <app-upload-file-btn></app-upload-file-btn> -->

  <!--     Example for  upload file
      <input ng2FileSelect type="file"
       value="hehe" accept=".zip, application/pdf"
        [uploader]="uploader" >

      <button mat-button
      (click)="uploader.uploadAll()">upload</button> -->
</div>
