
.container
  display: flex
  // border: 1px solid gray
  height: 80%
  width: 100%
  box-sizing: border-box
  justify-content: center
  align-items: center

form
  display: flex
  border: 1px solid grey
  margin: auto auto
  flex-direction: column
  padding: 1% 3%
  box-sizing: border-box


