<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <span> <a routerLink="/" mat-button><h1>LearnIt</h1></a></span>
    <span class="menu-spacer"></span>
    <div fxShow="true" fxHide.lt-md>
      <a routerLink="/forum" mat-button>Forum</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a (click)="sidenav.toggle()" routerLink="/" mat-list-item>Home</a>
      <a (click)="sidenav.toggle()" routerLink="/forum" mat-list-item>Forum</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
