<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button (click)="sidenav.toggle()" fxHide.gt-sm fxShow="true" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span> <a mat-button routerLink="/">
        <h1>LearnIt</h1>
      </a></span>
    <span class="menu-spacer"></span>
    <div class="navbar" fxHide.lt-md fxShow="true">
      <div>
        <a mat-button routerLink="/forum">Forum</a>
      </div>
      <div *ngIf="!userId">
        <button mat-button routerLink="/login">Login</button>
        <button mat-button routerLink="/register">Register</button>
      </div>
      <div *ngIf="userId">
        <button (click)="logout()" mat-button>Logout</button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a (click)="sidenav.toggle()" mat-list-item routerLink="/">Home</a>
      <a (click)="sidenav.toggle()" mat-list-item routerLink="/forum">Forum</a>
      <div *ngIf="!userId">
        <a (click)="sidenav.toggle()" mat-list-item routerLink="/login">Login</a>
        <a (click)="sidenav.toggle()" mat-list-item routerLink="/register">Register</a>
      </div>
      <div *ngIf="userId">
        <a (click)="logout()" mat-list-item>Logout</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
