<div class="container">
  <form [formGroup]="registerForm" action="">
    <h1>Register Form</h1>
    <mat-form-field class="form-input">
      <input formControlName="name" matInput placeholder="Name">
    </mat-form-field>
    <mat-form-field class="form-input">
      <input formControlName="email" matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field class="form-input">
      <input formControlName="password" matInput placeholder="Password" type="password">
    </mat-form-field>
    <mat-form-field>
      <mat-select class="form-input" formControlName="gender" placeholder="Gender">
        <mat-option value="Male">
          Male
        </mat-option>
        <mat-option value="Female">
          Female
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select class="form-input" formControlName="role" placeholder="Role">
        <mat-option value="Student">
          Student
        </mat-option>
        <mat-option value="Lecturer">
          Lecturer
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button (click)="test()" mat-button>Login</button>
  </form>


</div>
