<div class="container">


  <div *ngIf="course" class="separator">
    <app-home-card-courses [course]="course"></app-home-card-courses>
  </div>

  <div *ngIf="user" class="separator">
    <app-user-homepage-progress [user]="user"></app-user-homepage-progress>
  </div>
  <div *ngIf="category">
    <app-item-card-category [category]="category"></app-item-card-category>
  </div>

  <div *ngIf="enrolledCourse" style="max-width: 90%;margin: auto">
    <h1>Enrolled Course</h1>
    <mat-card *ngFor="let e of enrolledCourse" class="course-card-small" (click)="goToCourseDetail(e.course_id)">
      <mat-card-title>{{e.course_title}} by {{e.teacher.user_name}}</mat-card-title>
    </mat-card>
  </div>

</div>
